@page
@model FinalProject.Pages.Collections.EditCollectionsModel

@{
    ViewData["Title"] = "Edit Collector";
}

<h1>Edit Collector</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Collection.CollectionId" />
            <div class="form-group">
                <label asp-for="Collection.Username" class="control-label"></label>
                <input asp-for="Collection.Username" class="form-control" />
                <span asp-validation-for="Collection.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-offset-6 col-md-6">
                    <table>
                        <tr>
                            @{
                                var check = "";
                                foreach(var game in Model.Games)
                                {
                                    check = "";
                                    if (Model.Collection.GameCollections!.Any(sc => sc.GameId == game.GameId))
                                    {
                                        check = "checked";
                                    }
                                    <td>
                                        <input type="checkbox" name="selectedGames" value="@game.GameId" @check /> @game.GameName
                                    </td>
                                }
                                @:</tr>
                            }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}